{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="codo_dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Codopraxis{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>

<body class="min-h-screen flex">

    {% if user.is_authenticated %}
    {% include "base/sidebar.html" %}
    {% endif %}

    <!-- Only one block here -->
    <main class="flex-1 p-6">
        {% block content %}{% endblock %}
    </main>

</body>

</html>